@import "./variables.scss";
@import "./mixins.scss";

.featured {
  border-radius: 4px;
  height: 400px;
  overflow: hidden;
  position: relative;
  width: 65%;

  img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 0;
  }

  .gradient {
    background-image: linear-gradient(to right, black, #706e67);
    left: 0;
    opacity: 0.8;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 50;
  }

  .featured-content {
    bottom: 20px;
    color: white;
    padding: 20px;
    position: absolute;
    width: 50%;
    z-index: 100;

    p {
      font-size: 0.8rem;
    }
  }
}
