.news-feed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.news-feed .news-item {
  height: 45vh;
  margin: 20px 0px;
  width: 30%;
}

.news-feed .news-item .news-image {
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  z-index: 0;
}

.news-feed .news-item .news-image img {
  border-radius: 4px;
  width: 100%;
  z-index: 50;
}

.news-feed .news-item .play {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  border-radius: 2px;
  color: #d21533;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.6rem;
  height: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 30px;
  z-index: 100;
}

.news-feed .news-item .fa-folder {
  color: black;
  margin: 0 2px;
}

.news-feed .news-item .category {
  font-size: 0.8rem;
  margin: 7px 0;
  text-transform: uppercase;
}

.news-feed .news-item h3 {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 5px 0 10px;
}

.news-feed .news-item .red {
  color: #d21533;
  font-size: 1.5rem;
}

.news-feed .news-item .black {
  color: #222222;
  font-size: 1rem;
  font-weight: bold;
}

.news-feed .news-item .white {
  color: white;
}

.news-feed .featured {
  border-radius: 4px;
  height: 400px;
  overflow: hidden;
  position: relative;
  width: 65%;
}

.news-feed .featured img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 0;
}

.news-feed .featured .gradient {
  background-image: -webkit-gradient(linear, left top, right top, from(black), to(#706e67));
  background-image: linear-gradient(to right, black, #706e67);
  height: 100%;
  left: 0;
  opacity: 0.8;
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 50;
}

.news-feed .featured .featured-content {
  bottom: 20px;
  color: white;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 1rem;
  padding: 20px;
  position: absolute;
  width: 40%;
  z-index: 100;
}

.news-feed .featured .featured-content p {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 1rem;
}

@media (max-width: 500px) {
  .news-feed {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  .news-feed .news-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: auto;
    width: 100%;
  }
  .news-feed .news-item .news-image {
    width: 50%;
  }
  .news-feed .news-item .news-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 10px;
  }
  .news-feed .news-item .news-text .category {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    font-size: 1rem;
  }
  .news-feed .news-item .news-text .category .fa-folder {
    width: auto;
  }
  .news-feed .news-item .news-text h3 {
    font-size: 1.6rem;
  }
  .news-feed .news-item .news-text p {
    display: none;
  }
  .news-feed .news-item .play {
    text-align: center;
  }
  .news-feed .featured {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow: visible;
    position: relative;
  }
  .news-feed .featured img {
    border-radius: 3px;
    height: auto;
    position: relative;
    width: 100%;
  }
  .news-feed .featured .gradient {
    display: none;
  }
  .news-feed .featured .featured-content {
    bottom: auto;
    color: #222222;
    left: auto;
    margin: 0 auto;
    padding: 0;
    position: inherit;
    width: 100%;
  }
  .news-feed .featured .featured-content .news-text {
    margin: 5px 0 -5px;
  }
  .news-feed .featured .featured-content .news-text .category {
    color: #d21533;
  }
  .news-feed .featured .featured-content .news-text .fa-folder {
    color: #222222;
  }
  .news-feed .featured .featured-content .featured-title {
    color: #d21533;
  }
  .news-feed .featured .featured-content p {
    font-family: "Cormorant Garamond", serif;
    font-weight: bold;
  }
}

* h1,
* h2,
* h3,
* h4,
* h5 {
  color: #d21533;
  font-family: "Open Sans Condensed", sans-serif;
}

* body {
  font-family: "Cormorant Garamond", serif;
  margin: 30px auto;
  max-width: 1000px;
  width: 80%;
}

* body h1 {
  color: #222222;
  font-size: 1.3rem;
  font-weight: lighter;
  text-transform: uppercase;
}

* body h1 .underscore {
  margin-left: 5px;
  color: #d21533;
}

@media (max-width: 500px) {
  * * {
    width: 100%;
    margin: 0 auto;
  }
  * * .nav {
    font-size: 1.6rem;
    font-weight: bold;
  }
}
/*# sourceMappingURL=index.css.map */