@import "./variables.scss";
@import "./mixins.scss";

@import "./news-feed.scss";

* {
  h1,
  h2,
  h3,
  h4,
  h5 {
    color: $primary-color;
    font-family: $primary-font;
  }

  body {
    font-family: $secondary-font;
    margin: 30px auto;
    max-width: 1000px;
    width: 80%;

    h1 {
      color: $secondary-color;
      font-size: 1.3rem;
      font-weight: lighter;
      text-transform: uppercase;

      .underscore {
        margin-left: 5px;
        color: $primary-color;
      }
    }
  }

  @media (max-width: $mobile) {
    * {
      width: 100%;
      margin: 0 auto;
      .nav {
        font-size: 1.6rem;
        font-weight: bold;
      }
    }
  }
}
