@import "./variables.scss";
@import "./mixins.scss";

.news-feed {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  .news-item {
    height: 45vh;
    margin: 20px 0px;
    width: 30%;

    .news-image {
      border-radius: 4px;
      overflow: hidden;
      position: relative;
      z-index: 0;

      img {
        border-radius: 4px;
        width: 100%;
        z-index: 50;

        @include ease;
        &:hover {
          opacity: 0.5;
        }
      }
    }

    // PLAY BUTTON - top right of news-item images
    .play {
      align-items: center;
      background-color: white;
      border-radius: 2px;
      color: $primary-color;
      display: flex;
      font-size: 0.6rem;
      height: 30px;
      justify-content: center;
      position: absolute;
      right: 10px;
      top: 10px;
      width: 30px;
      z-index: 100;
      @include ease;

      &:hover {
        font-size: 0.7rem;
      }

      &:active {
        font-size: 0.6rem;
      }
    }

    // FONT AWESOME FOLDER ICON and CATEGORY label
    .fa-folder {
      color: black;
      margin: 0 2px;
    }
    .category {
      font-size: 0.8rem;
      margin: 7px 0;
      text-transform: uppercase;

      @include ease;
      &:hover {
        color: $secondary-color;
      }
    }

    // News/Content Title
    h3 {
      font-size: 1.2rem;
      font-weight: bold;
      margin: 5px 0 10px;

      @include ease;
      &:hover {
        color: $secondary-color;
      }
    }

    // SPAN INLINE COLOR
    .red {
      color: $primary-color;
      font-size: 1.5rem;
    }
    .black {
      color: $secondary-color;
      font-size: 1rem;
      font-weight: bold;
    }
    .white {
      color: white;
    }
  }

  .featured {
    border-radius: 4px;
    height: 400px;
    overflow: hidden;
    position: relative;
    width: 65%;

    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      z-index: 0;
    }

    .gradient {
      background-image: linear-gradient(to right, black, #706e67);
      height: 100%;
      left: 0;
      opacity: 0.8;
      position: absolute;
      bottom: 0;
      width: 100%;
      z-index: 50;
      @include ease;

      &:hover {
        opacity: 0.5;
      }
    }

    .featured-content {
      bottom: 20px;
      color: white;
      font-family: $primary-font;
      font-size: 1rem;
      padding: 20px;
      position: absolute;
      width: 40%;
      z-index: 100;

      .featured-title {
        @include ease;
        &:hover {
          color: $primary-color;
        }
      }

      .category {
        @include ease;
        &:hover {
          color: $primary-color;
        }
      }

      p {
        font-family: $primary-font;
        font-size: 1rem;
      }
    }
  }
}

@media (max-width: $mobile) {
  .news-feed {
    flex-flow: column;

    .news-item {
      display: flex;
      flex-direction: row;
      height: auto;
      width: 100%;

      .news-image {
        width: 50%;
      }
      .news-text {
        display: flex;
        flex-direction: column;
        margin-left: 10px;

        .category {
          flex-direction: row;
          font-size: 1rem;

          .fa-folder {
            width: auto;
          }
        }
        h3 {
          font-size: 1.6rem;
        }
        p {
          display: none;
        }
      }

      .play {
        text-align: center;
      }
    }

    .featured {
      display: flex;
      flex-direction: column;
      overflow: visible;
      position: relative;

      img {
        border-radius: 3px;
        height: auto;
        position: relative;
        width: 100%;
      }

      .gradient {
        display: none;
      }

      .featured-content {
        bottom: auto;
        color: $secondary-color;
        left: auto;
        margin: 0 auto;
        padding: 0;
        position: inherit;
        width: 100%;

        .news-text {
          margin: 5px 0 -5px;

          .category {
            color: $primary-color;
          }

          .fa-folder {
            color: $secondary-color;
          }
        }

        .featured-title {
          color: $primary-color;
        }

        p {
          font-family: $secondary-font;
          font-weight: bold;
        }
      }
    }
  }
}
